<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        table {
            width: 100%;
            margin-top: 20px;
        }
        th, td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Listings</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    
                </tr>
            </thead>
            <tbody>
                <% all_listing.forEach(listing => { %>
                    <tr>
                        <td><a href="listing/<%= listing._id %>"><%= listing.title %></a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
